version: '3.8'
services:
  backend:
    build: ./backend
    ports:
    - "8000:8000"
    volumes:
    - ./backend:/app
  frontend:
    build: ./frontend
    ports:
    - "5173:5173"
    volumes:
    - ./frontend:/usr/src/app
    command: npm run dev